* {
    box-sizing: border-box;
}

body{
    color: black;
}


ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}



.wrapper {
    max-width: calc(1170px + 32px);
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    background-color:antiquewhite;
}

.form{
    max-width: 550px;
    margin: 0 auto;
    padding: 30px 0px;
    font-family: sans-serif; 
}

.form *{
    outline: none;
}

.form__body {
    position: relative;
}

.form__body::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.9) url('../images/Spinner-3.gif') center / 50px no-repeat ;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.form__body._sending::after {
    opacity: 1;
    visibility: visible;
}



.form__title {
    font-size: 40px;
    font-weight: 700;
    margin: 0px 0px 30px 0px;
}

.form__item{
    margin: 0px 0px 29px 0px;
}

.form__label{
    font-size: 18px;
    display: block;
    margin: 0px 0px 10px 0px;
}

.form__input{
    height: 50px;
    padding: 0px 20px;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
    background-color: #ffff;
    transition: all 0.3s;
}

.form__input:focus{
    box-shadow: 0 0 15px rgb(178, 117, 235);
}

.form__input._error {
    box-shadow: 0 0 15px red;
}

textarea.form__input{
    min-height: 120px;
    resize: vertical;
    padding: 20px;
}

.options{
    padding: 10px 0px 0px 0px;
}

.options__item{
    margin: 0px 0px 10px 0px;
}

.options__input{
    display: none;
}

.options__input:checked + .options__label::after {
    transform: scale(1);
}

.options__label{
    display: inline-flex;
    font-size: 16px;
    line-height: 140%;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.options__label::before{
    content: "";
    align-self: flex-start;
    flex: 0 0 24px;
    height: 24px;
    background-color: #ffff;
    border-radius: 50%;
    margin: 0px 10px 0px 0px;
}

.options__label::after{
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    background-color: rgb(129, 255, 127);
    border-radius: 50%;
    transform:scale(0);
    transition: transform 0.3s;
}

.select{ 
    display: block; 
    font-size: 16px; 
    font-family: sans-serif; 
    font-weight: 700; 
    color: #444; 
    line-height: 1.3; 
    padding: .6em 1.4em .5em .8em; width: 100%; 
    max-width: 100%; 
    box-sizing: border-box; 
    margin: 0; 
    border: 1px solid #aaa;
     box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
    border-radius: .5em;
     -moz-appearance: none;
     -webkit-appearance: none;
     appearance: none;
     background-color: #fff; 
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); 
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%; 
    } 
     .select::-ms-expand { display: none; } 
     .select:hover { border-color: #888; } 
     .select:focus { border-color: #aaa; 
     box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
     box-shadow: 0 0 0 3px -moz-mac-focusring; 
    color: #222;
     outline: none; 
    } 
     .select option { font-weight:normal; } 
     *[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css { 
    background-position: left .7em top 50%, 0 0; 
    padding: .6em .8em .5em 1.4em; 
    }

.file__item{
        position: relative;
    }

.file__input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    font-size: 0;
    cursor: pointer;
}

.file__button{
    display: inline-flex;
    min-height: 40px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    background-color:rgb(224, 201, 245);
    padding: 0 20px;
}

.file__preview {
    display: inline-block;
    max-width: 100px;
    padding: 10px 0px 0px 0px;
}

.file__preview img{
    max-width: 100%;
}


.checkbox{

}


.checkbox._error .checkbox__label::before{
    box-shadow: 0 0 15px red;
}


.checkbox__input{
    display: none;
}

.checkbox__input:checked + .checkbox__label::after{
    transform: scale(1);
}

.checkbox__label{
    font-size: 16px;
    line-height: 140%;
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.checkbox__label::before{
    content: "";
    align-self: flex-start;
    flex: 0 0 24px;
    height: 24px;
    background-color: #ffff;
    border-radius: 4px;
    margin: 0px 10px 0px 0px;
}

.checkbox__label::after{
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 4px;
    left: 4px;
    background-color: rgb(129, 255, 127);
    border-radius: 4px;
    transform:scale(0);
    transition: transform 0.3s;
}

.form__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    background-color:rgb(224, 201, 245);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    box-shadow: 0 5px 0 rgb(178, 117, 235);
    transform: background-color 0.3s;
    position: relative;
    top: 0;
}

.form__button:hover{
    background-color:rgb(178, 117, 235);
}

.form__button:active{
    top: 3px;
    box-shadow: 0 2px 0 rgb(178, 117, 235);
}